<body class="addDeck d-flex h-100">

<%- include('partials/header') -%>
<%- include('partials/navbar') -%>

  <div class="container card-container">
    <div class="row justify-content-center">
        <div class="col-6">
            <!-- <div>
                <p><strong>User Name</strong>: <%= user.userName %></p>
                <p><strong>Email</strong>: <%= user.email %></p>
                <a href="/logout" class="col-3 btn btn-primary">Logout</a>
            </div> -->
            <div class="mt-5">
              <h2>Add a deck</h2>
              <form action="/deck/createDeck" enctype="application/json" method="POST">
              <!-- <form action="/deck/createDeck" enctype="multipart/form-data" method="POST"> -->
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="mb-3">
                  <label for="grade" class="form-label">Grade</label>
                  <textarea class="form-control" id="grade" name="grade"></textarea>
                </div>
                <div class="mb-3">
                  <label for="words" class="form-label">Words</label>
                  <textarea class="form-control" id="words" name="words"></textarea>
                </div>
                <!-- <div class="mb-3">
                  <label for="imgUpload" class="form-label">Image</label>
                  <input type="file" id="imgUpload" name="file">
                </div> -->
                <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
<%- include('partials/footer') -%>